:root {
  --colorbar-height: 5rem; /* Adjust this value to match your d2 height */
}

#colorbar {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: var(--colorbar-height);
  width: 25vw;
  min-width: 300px;
  z-index: 10000;
  background-color: white;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.colorbar-svg {
  height: 1rem;
  width: 100%; /* Dynamic width - scales with container */
}

.colorbar-scale {
  text-align: center;
  width: 100%;
}

.colorbar-label {
  text-align: center;
  margin-bottom: 0px;
  font-size: 14px;
  font-family: 'Public Sans';
  color: grey !important;
}

.colorbar-scale-tick-label-container {
  display: flex;
  justify-content: space-between;
}

.colorbar-scale-tick-label {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  color: grey;
}
