.card-plume {
  width: 45%;
}

.card-download-link {
  text-decoration: none;
}

.card-download-link>div {
  color: var(--ghg-indigo);
  font-size: 12px;
}

.card-container {
  container-type: inline-size;
  container-name: card;
}

.responsive-card {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  gap: 10px;
}

/* Stack image on top when card width is below 500px */
@container card (max-width: 400px) {
  .responsive-card {
    flex-direction: column;
  }
}